* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    height: 100%; /* Asegura que el cuerpo ocupe todo el alto del viewport */
    overflow: hidden; /* Previene barras de desplazamiento innecesarias */
}

body {
    font-family: Arial, sans-serif;
    background-color: #2b2b2b;
    color: #ffffff;
    line-height: 1.6;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    padding-top: 80px; /* Espacio para el header fijo */
    overflow-x: hidden; /* Evita desplazamientos horizontales */
}

/* Header */
header {
    background-color: #3b472c;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 10;
}

header .logo {
    font-size: 1.8em;
    font-weight: bold;
    text-transform: uppercase;
}

header a {
    color: #ffffff;
    text-decoration: none;
    font-weight: bold;
    margin: 0 15px;
    transition: color 0.3s;
}

header a:hover {
    color: #ffd7d1; /* Color al pasar el mouse */
}

/* Contenido Principal */
.main-container {
    width: 100%;
    padding: 100px 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    background-color: #2b2b2b;
}

main {
    flex: 1; /* Permite que el contenido principal ocupe todo el espacio restante */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
}

h1 {
    font-size: 2rem; /* Tamaño del título */
    margin-bottom: 20px;
    text-align: center; /* Centra el título */
}

p {
    max-width: 800px; /* Ancho máximo del párrafo */
    text-align: center; /* Centra el texto del párrafo */
}

/* Footer */
footer {
    margin-top: auto;
    background-color: #3b472c; /* Color del pie de página */
    padding: 12px;
    width: 100%;
    text-align: center;
}

footer p {
    color: #ffffff;
}

/* Media Queries */
@media (max-width: 768px) {
    header {
        flex-direction: column;
        gap: 15px;
        padding: 15px;
    }

    .search-bar input[type="text"] {
        width: 300px; /* Ajusta el tamaño en pantallas más pequeñas */
    }
}

/* Iconos y Otros Estilos */
.help-icon {
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    background-color: #3b472c;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
    transition: background-color 0.3s;
}

.help-icon:hover {
    background-color: #3b472c;
}

.help-icon img {
    width: 24px;
    height: 24px;
    filter: invert(100%);
}